{{- define "main" }}
<div class="newsletterPage">
    <div class="newsletterContainer">
        <h2>Subscribe to my newsletter!</h2>
        <p>Get coding tips, project updates, and dev insights delivered to your inbox! <3</p>
        <iframe src="https://embeds.beehiiv.com/cc128625-9eaa-485c-8c50-ee2a5a58b25a?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>    
    </div>
</div>
{{- end }}{{/* end main */ -}}